
        <section id="about">

            <p class="about-content">
                {{ page.header.description }}
            </p>

            <aside id="skills">
                <ul>
                    {% for item in page.header.skills %}

                    <li>
                        <h4>{{ item.title }}</h4>
                        <p>
                            {{ item.description }}
                        </p>
                    </li>

                    {% endfor %}

                </ul>
            </aside>


            <!--

            With 14 years of experience, i've worked on a lot of project
            and i'm used to the web evolution (Internet Explorer 6 compatibility... Enough said).

            I've looked into Laravel and micro framework like Slim and Lumen,
            i've got a course on nodeJS ( but lack pratice. Yet. ).

            Concerning AngularJS, i've managed to update my 3d tools for 2 angular projects,
            made directives and learned best pratices.
            I'm interested in working on React or a more recent version of Angular.

            -->

        </section>

        <section class="challenge">
            <div>
            {% for item in page.header.jobseeker %}
                <h2>{{ item.title }}</h2>
                <p>{{ item.description }}</p>
                <a href="#contact" class="see-more">
                    {{ item.linklabel }}
                </a>
            {% endfor %}
            </div>

            <div class="witch-demo">
              <a href="witch-journey/">
                  <img src="{{ url('theme://img/witch-journey-demo.jpg') }}" alt="Demo Witch's Journey" width="280" />
              </a>
            </div>

            <div class="github">
                <a href="https://github.com/mikemadest/a-witch-s-journey">
                    <img src="{{ url('theme://img/github-logo.jpg') }}" alt="Github" width="280" />
                </a>
            </div>


        </section>


        <!--section class="github">
            <div class="scrolled">
                <article>
                    <div class="illustration">
                        <a href="https://github.com/mikemadest">
                            <img src="{{ url('theme://img/github-logo.jpg') }}" alt="Github" width="280" />
                        </a>
                    </div>

                    <div class="content">
                        <p>
                            <strong>Github</strong><br />
                            Work projects can't be disclosed so it's a work in progress.<br />
                            Have a look at foobar, not much to see yet but i'm working on it.
                        </p>
                    </div>

                </article>
            </div>
        </section-->
