
<section id="recent-work" class="work-articles">
    <h2>{{ page.header.title }}</h2>


    {% for item in page.header.portfolio %}
        <article>
            <div class="illustration">
                <a href="{{ item.link }}" target="_blank" class="">
                    {{ page.media[item.img].html() }}
                </a>
            </div>
            <h3>{{ item.title }}</h3>
            <div class="content">
                <p>{{ item.description }}</p>
                <ul>
                    {% for task in item.tasks %}
                    <li>{{ task }}</li>
                    {% endfor %}
                </ul>
                <a href="{{ item.link }}" target="_blank" class="see-more">Website</a>
            </div>
        </article>
    {% endfor %}

</section>
