<section id="project">


    <div class="project-content">
    {% for item in page.header.projets %}
        <div class="porfolio-like" id="porfolio2">
            <div class="project-header">
                <div class="vignette">{{ page.media[item.imgbig].html() }}</div>
                <div class="overlay">
                    <div class="row">
                        <div class="three columns">
                            <h1>{{ item.title }}</h1>
                        </div>
                        <div class="nine main-col columns">
                            <p>
                                {{ item.intro }}
                            </p>
                        </div>
                        {% if item.url %}
                            <a href="{{ item.url }}" class="button small" target="_blank"><i class="fa fa-external-link"></i> {{ item.text }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="projet-details">
            {{ item.description }}
        </div>
    {% endfor %}
    </div>


</section>
