
<section id="portfolio">
    <div class="row">
        <div class="three columns header-col">
            <h1><span>{{ page.header.title }}</span></h1>
        </div>
        <div class="nine columns main-col">
            {{ page.header.description }}
        </div>
    </div>
<div class="slider-porfolio" id="slider-porfolio">
    {% for item in page.header.portfolio %}
        <div class="porfolio-container">
            <a href="#modal-{{ loop.index }}" title="">
                <!--img class="scale-with-grid" src="{{ page.media[item.img].url }}" alt="" /-->
                <!--div class="more-content"-->
                    {{ page.media[item.img].cropZoom(1000, 540).html() }}
                    <div class="overlay" data-animation-in="fadeIn">
                        <div class="portfolio-item-meta">
                            <h5>{{ item.title }}</h5>
                            <p>{{ item.description }}</p>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </div>
                    </div>
                <!--/div-->
            </a>
        </div>
    {% endfor %}
</div>

    {% for item in page.header.portfolio %}
        <div id="modal-{{ loop.index }}" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="{{ page.media[item.img].url }}" alt="" />
            <div class="description-box">
                <h4>{{ item.title }}</h4>
                <p>{{ item.content }}.</p>
                <span class="categories"><i class="fa fa-tag"></i>{{ item.tags }}</span>
            </div>
            <div class="link-box">
                <a href="{{ item.details }}" target="_blank">{{  page.header.see_more }}</a>
                <a class="popup-modal-dismiss">{{  page.header.close_action }}</a>
            </div>
        </div>
    {% endfor %}
</section>



<!--section id="portfolio">
    <div class="row">
        <div class="twelve columns collapsed">
            {{ page.content }}
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                {% for item in page.header.portfolio %}
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-{{ loop.index }}" title="">
                            {{ page.media[item.img].cropZoom(215, 215).html() }}
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>{{ item.title }}</h5>
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% for item in page.header.portfolio %}
        <div id="modal-{{ loop.index }}" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="{{ page.media[item.img].url }}" alt="" />
            <div class="description-box">
                <h4>{{ item.title }}</h4>
                <p>{{ item.content }}.</p>
                <span class="categories"><i class="fa fa-tag"></i>{{ item.tags }}</span>
            </div>
            <div class="link-box">
                <a href="{{ item.details }}" target="_blank">{{  page.header.see_more }}</a>
                <a class="popup-modal-dismiss">{{  page.header.close_action }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section-->
