
<section id="portfolio">
    <div class="row">
        <div class="three columns header-col">
            <h1><span>{{ page.header.title }}</span></h1>
        </div>
        <div class="nine columns main-col">
            {{ page.header.description }}
        </div>
    </div>

<div class="slider-porfolio" id="slider-porfolio">
    {% for item in page.header.portfolio %}
        <div class="porfolio-container">
            <a href="#modal-{{ loop.index }}" title="">
                {{ page.media[item.img].cropZoom(1000, 540).html() }}
                <div class="overlay" data-animation-in="fadeIn">
                    <div class="portfolio-item-meta">
                        <h5>{{ item.title }}</h5>
                        <p>{{ item.description }}</p>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>


    {% for item in page.header.portfolio %}
        <div id="modal-{{ loop.index }}" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="{{ page.media[item.img].url }}" alt="" />
            <div class="description-box">
                <h4>{{ item.title }}</h4>
                <p>{{ item.content }}.</p>
                <span class="categories"><i class="fa fa-tag"></i>{{ item.tags }}</span>
            </div>
            <div class="link-box">
                <a href="{{ item.details }}">{{  page.header.see_more }}</a>
                {% if page.header.see_project %}
                    &nbsp; <a href="{{ item.link }}" target="_blank">{{  page.header.see_project }}</a>
                {% endif %}
                <a class="popup-modal-dismiss">{{  page.header.close_action }}</a>
            </div>
        </div>
    {% endfor %}
</section>

